*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include container();
  color: palette('text-primary');
  background: palette('background');
  font-family: 'worksans', sans-serif;
}

a {
  &,
  &:visited {
    color: palette('text-primary');
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
