/**
 * thread-thumb
 * A thread 'thumbnail' preview
 */
.thread-thumb {}

.thread-thumb__title {
  display: flex;
  margin-top: 1rem;
}

.thread-thumb__name {
  margin: 0 auto 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  > a {
    text-decoration: none;
  }
}

.thread-thumb__count {
  color: palette('text-secondary');
  margin-left: 1rem;
}

.thread-thumb__subtitle {
  color: palette('text-secondary');
}

.thread-thumb__img {
  @include img-placeholder('120%');
  background: palette('text-secondary');
}